.content, .form {
width:90%;
margin-left:10px;
}

.form_refrigerator {
margin:0px;
}

.table {
display:table;
}

.table_row {
display:table-row;
}

.table_cell {
display:table-cell;
border:1px solid white;
width:20%;
}

.title_table {
background-color:grey;
color:white;
font-weight:bolder;
}

.title_error {

color:red;
font-weight:bolder;
}

.center {
text-align:center;
}

.color {
color:lightblue;
}

.red {
color:red;
}

.orange {
color:orange;
}

.green {
color:green;
}



